<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adonisgram</title>
  <script>
    var loginStatus = JSON.stringify({
      success: true
    })

    localStorage.setItem('socialLogin', loginStatus);

    open(location, '_self').close();
  </script>
</head>
<body>
<p>Redirecting, please wait ...</p>
</body>
</html>