@layout('layouts/app')

@section('content')
<div>
  <h1 class="title"> Profile page </h1>
  <p class="subtitle">
    You are authenticated!!!!
    {{ auth.isAuthenticated }}
  </p>
  <p>
    Your name is: {{auth.user.name}}
  </p>
</div>

<div>
  <form action="/logout" method="POST">
    <button type="submit">Sign out</button>
  </form>
</div>
@endsection
